@charset "utf-8";

// function
@mixin flex-box() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;    
}
@mixin prefix($name,$value) {
    -webkit-#{$name}:$value;
    -moz-#{$name}:$value;
    -ms-#{$name}:$value;
    -o-#{$name}:$value;
    #{$name}:$value;
}
@function rem( $px) {
    @return $px*(1/64)*1rem;
}

/* util */
.fl {float: left;}
.fr {float: right;}

/* global use */


/* media */
html {font-size: 12px;}
@media screen and (min-width: 320px) { html { font-size: 32px; } }
@media screen and (min-width: 375px) { html { font-size: 37.5px; } }
@media (min-width: 414px) { html { font-size: 41.4px; } }
@media (min-width: 601px) { html { font-size: 60.1px; } }
@media (min-width: 768px) { html { font-size: 76.8px; } }
@media (min-width: 1001px) { html { font-size: 110.1px; } }

// 示例
.test {
    font-size: rem(30);
    @include prefix('box-sizing', 'border-box');
    @include flex-box();
}


.area-title {
    background-color: darkgray;
}
.area-title, .area-cont {
    padding: 0 5%;
}
.area-title, .cont-line {
    @include flex-box();
    justify-content: space-between;
}
