@import url(normalize.css);

/* 工具类 */
.fl {float: left;}
.fr {float: right;}
.clearfix{zoom: 1}
.clearfix:before, .clearfix:after{content: '';display: table}
.clearfix:after{clear: both}

html {font-size: 12px;font-family: "微软雅黑",sans-serif;}
	
@media screen and (min-width: 320px) {
	html {font-size: 32px;}
}

@media screen and (min-width: 375px) {
	html {font-size: 37.5px;}
}

@media (min-width: 414px) {
	html {font-size: 41.4px;}
}

@media (min-width: 601px) {
	html {font-size: 60.1px;}
}

@media (min-width: 768px) {
	html {font-size: 76.8px;}
}

@media (min-width: 1001px) {
	html {font-size: 110.1px;}
}
